
bin/Debug/tic_tac_toe.exe
bin/Debug/tic_tac_toe.pdb
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/tic_tac_toe.csproj.CoreCompileInputs.cache
obj/Debug/tic_tac_toe.csprojAssemblyReference.cache
obj/Debug/tic_tac_toe.MainMenu.resources
obj/Debug/tic_tac_toe.pdb
obj/Debug/tic_tac_toe.csproj.FileListAbsolute.txt
obj/Debug/tic_tac_toe.csproj.GenerateResource.cache
obj/Debug/tic_tac_toe.exe
.vs/tic_tac_toe/v16/.suo
*.cache
obj/Debug/tic_tac_toe.csproj.CoreCompileInputs.cache
obj/Debug/tic_tac_toe.pdb
obj/Debug/tic_tac_toe.exe
obj/Debug/tic_tac_toe.csprojAssemblyReference.cache
obj/Debug/tic_tac_toe.csproj.GenerateResource.cache
obj/Debug/tic_tac_toe.csproj.FileListAbsolute.txt
.vs/tic_tac_toe/v16/.suo
bin/Debug/tic_tac_toe.exe
bin/Debug/tic_tac_toe.pdb
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/tic_tac_toe.csproj.CoreCompileInputs.cache
obj/Debug/tic_tac_toe.csproj.FileListAbsolute.txt
obj/Debug/tic_tac_toe.csproj.GenerateResource.cache
obj/Debug/tic_tac_toe.csprojAssemblyReference.cache
obj/Debug/tic_tac_toe.exe
obj/Debug/tic_tac_toe.pdb
/.vs/tic_tac_toe/v17/TestStore/0/testlog.manifest
/.vs/tic_tac_toe/v17/TestStore/0/000.testlog
/.vs/tic_tac_toe/v17/.wsuo
/.vs/tic_tac_toe/v17/.suo
/.vs/tic_tac_toe/FileContentIndex/read.lock
/.vs/tic_tac_toe/FileContentIndex/a2ce8ece-0635-45bc-a0fc-53e735aaf5d5.vsidx
/.vs/tic_tac_toe/FileContentIndex/2628a5e2-34eb-4ef2-ac44-aa9cc16191e8.vsidx
*.targets
/packages/xunit.core.2.4.1/buildMultiTargeting/xunit.core.props
/packages/xunit.runner.visualstudio.2.4.3/xunit.runner.visualstudio.2.4.3.nupkg
/packages/xunit.runner.visualstudio.2.4.3/logo-512-transparent.png
/packages/xunit.runner.visualstudio.2.4.3/License.txt
/packages/xunit.runner.visualstudio.2.4.3/build/uap10.0.16299/xunit.runner.visualstudio.uwp.testadapter.pri
/packages/xunit.runner.visualstudio.2.4.3/build/uap10.0.16299/xunit.runner.visualstudio.uwp.testadapter.dll
/packages/xunit.runner.visualstudio.2.4.3/build/uap10.0.16299/xunit.runner.visualstudio.props
/packages/xunit.runner.visualstudio.2.4.3/build/uap10.0.16299/xunit.runner.utility.uwp10.pri
/packages/xunit.runner.visualstudio.2.4.3/build/uap10.0.16299/xunit.runner.utility.uwp10.dll
/packages/xunit.runner.visualstudio.2.4.3/build/uap10.0.16299/xunit.runner.utility.netstandard15.dll
/packages/xunit.runner.visualstudio.2.4.3/build/uap10.0.16299/xunit.runner.reporters.netstandard15.dll
/packages/xunit.runner.visualstudio.2.4.3/build/netcoreapp2.1/xunit.runner.visualstudio.props
/packages/xunit.runner.visualstudio.2.4.3/build/netcoreapp2.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
/packages/xunit.runner.visualstudio.2.4.3/build/netcoreapp2.1/xunit.runner.utility.netcoreapp10.dll
/packages/xunit.runner.visualstudio.2.4.3/build/netcoreapp2.1/xunit.runner.reporters.netcoreapp10.dll
/packages/xunit.runner.visualstudio.2.4.3/build/netcoreapp2.1/xunit.abstractions.dll
/packages/xunit.runner.visualstudio.2.4.3/build/net452/xunit.runner.visualstudio.testadapter.dll
/packages/xunit.runner.visualstudio.2.4.3/build/net452/xunit.runner.visualstudio.props
/packages/xunit.runner.visualstudio.2.4.3/build/net452/xunit.runner.utility.net452.dll
/packages/xunit.runner.visualstudio.2.4.3/build/net452/xunit.runner.reporters.net452.dll
/packages/xunit.runner.visualstudio.2.4.3/build/net452/xunit.abstractions.dll
/packages/xunit.runner.visualstudio.2.4.3/.signature.p7s
/packages/xunit.extensibility.execution.2.4.1/xunit.extensibility.execution.2.4.1.nupkg
/packages/xunit.extensibility.execution.2.4.1/lib/netstandard1.1/xunit.execution.dotnet.xml
/packages/xunit.extensibility.execution.2.4.1/lib/netstandard1.1/xunit.execution.dotnet.dll
/packages/xunit.extensibility.execution.2.4.1/lib/net452/xunit.execution.desktop.xml
/packages/xunit.extensibility.execution.2.4.1/lib/net452/xunit.execution.desktop.dll
/packages/xunit.extensibility.execution.2.4.1/.signature.p7s
/packages/xunit.extensibility.core.2.4.1/xunit.extensibility.core.2.4.1.nupkg
/packages/xunit.extensibility.core.2.4.1/lib/netstandard1.1/xunit.core.xml
/packages/xunit.extensibility.core.2.4.1/lib/netstandard1.1/xunit.core.dll
/packages/xunit.extensibility.core.2.4.1/lib/net452/xunit.runner.utility.net452.dll
/packages/xunit.extensibility.core.2.4.1/lib/net452/xunit.runner.tdnet.dll
/packages/xunit.extensibility.core.2.4.1/lib/net452/xunit.core.xml
/packages/xunit.extensibility.core.2.4.1/lib/net452/xunit.core.dll.tdnet
/packages/xunit.extensibility.core.2.4.1/lib/net452/xunit.core.dll
/packages/xunit.extensibility.core.2.4.1/.signature.p7s
/packages/xunit.core.2.4.1/xunit.core.2.4.1.nupkg
/packages/xunit.core.2.4.1/build/xunit.core.props
/packages/xunit.core.2.4.1/.signature.p7s
/packages/xunit.assert.2.4.1/xunit.assert.2.4.1.nupkg
/packages/xunit.assert.2.4.1/lib/netstandard1.1/xunit.assert.xml
/packages/xunit.assert.2.4.1/lib/netstandard1.1/xunit.assert.dll
/packages/xunit.assert.2.4.1/.signature.p7s
/packages/xunit.analyzers.0.10.0/xunit.analyzers.0.10.0.nupkg
/packages/xunit.analyzers.0.10.0/tools/uninstall.ps1
/packages/xunit.analyzers.0.10.0/tools/install.ps1
/packages/xunit.analyzers.0.10.0/analyzers/dotnet/cs/xunit.analyzers.dll
/packages/xunit.analyzers.0.10.0/.signature.p7s
/packages/xunit.abstractions.2.0.3/xunit.abstractions.2.0.3.nupkg
/packages/xunit.abstractions.2.0.3/lib/netstandard2.0/xunit.abstractions.xml
/packages/xunit.abstractions.2.0.3/lib/netstandard2.0/xunit.abstractions.dll
/packages/xunit.abstractions.2.0.3/lib/netstandard1.0/xunit.abstractions.xml
/packages/xunit.abstractions.2.0.3/lib/netstandard1.0/xunit.abstractions.dll
/packages/xunit.abstractions.2.0.3/lib/net35/xunit.abstractions.xml
/packages/xunit.abstractions.2.0.3/lib/net35/xunit.abstractions.dll
/packages/xunit.abstractions.2.0.3/.signature.p7s
/packages/xunit.2.4.1/xunit.2.4.1.nupkg
/packages/xunit.2.4.1/.signature.p7s
/obj/Debug/tic_tac_toe.csproj.CopyComplete
/obj/Debug/TIC TAC TOE.pdb
/obj/Debug/TIC TAC TOE.exe.manifest
/obj/Debug/TIC TAC TOE.exe
/obj/Debug/TIC TAC TOE.application
/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/bin/Debug/xunit.runner.visualstudio.testadapter.dll
/bin/Debug/xunit.runner.utility.net452.dll
/bin/Debug/xunit.runner.reporters.net452.dll
/bin/Debug/xunit.execution.desktop.xml
/bin/Debug/xunit.execution.desktop.dll
/bin/Debug/xunit.core.xml
/bin/Debug/xunit.core.dll
/bin/Debug/xunit.assert.xml
/bin/Debug/xunit.assert.dll
/bin/Debug/xunit.abstractions.dll
/bin/Debug/TIC TAC TOE.pdb
/bin/Debug/TIC TAC TOE.exe.manifest
/bin/Debug/TIC TAC TOE.exe.config
/bin/Debug/TIC TAC TOE.exe
/bin/Debug/TIC TAC TOE.application
/bin/Debug/app.publish/TIC TAC TOE.exe
