
bin/Debug/tic_tac_toe.exe
bin/Debug/tic_tac_toe.pdb
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/tic_tac_toe.csproj.CoreCompileInputs.cache
obj/Debug/tic_tac_toe.csprojAssemblyReference.cache
obj/Debug/tic_tac_toe.MainMenu.resources
obj/Debug/tic_tac_toe.pdb
obj/Debug/tic_tac_toe.csproj.FileListAbsolute.txt
obj/Debug/tic_tac_toe.csproj.GenerateResource.cache
obj/Debug/tic_tac_toe.exe
.vs/tic_tac_toe/v16/.suo
*.cache
obj/Debug/tic_tac_toe.csproj.CoreCompileInputs.cache
obj/Debug/tic_tac_toe.pdb
obj/Debug/tic_tac_toe.exe
obj/Debug/tic_tac_toe.csprojAssemblyReference.cache
obj/Debug/tic_tac_toe.csproj.GenerateResource.cache
obj/Debug/tic_tac_toe.csproj.FileListAbsolute.txt
.vs/tic_tac_toe/v16/.suo
bin/Debug/tic_tac_toe.exe
bin/Debug/tic_tac_toe.pdb
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/tic_tac_toe.csproj.CoreCompileInputs.cache
obj/Debug/tic_tac_toe.csproj.FileListAbsolute.txt
obj/Debug/tic_tac_toe.csproj.GenerateResource.cache
obj/Debug/tic_tac_toe.csprojAssemblyReference.cache
obj/Debug/tic_tac_toe.exe
obj/Debug/tic_tac_toe.pdb
